.link {
    color: #0D6EFD;
    cursor: pointer;
}

.error-message {
    color: red;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.background-color-1 {
    background-color: #fcfcfc;
}

.background-color-2 {
    background-color: #f3f3f3;
}

.hide-underlined {
    text-decoration: none;
}

.primary-custom-button{
    background-color: rgb(27, 27, 27) !important;
    border: #fcfcfc 1px solid !important;
}

.primary-custom-button:hover{
    background-color: #fcfcfc !important;
    border: #000000 1px solid !important;
    color: black !important;
}